.WeatherAppWrapper {
  max-width: 600px;
  margin: 10px auto;
}

.creditsstatement {
  text-align: center;
  font-size: 11px;
  margin: 15px auto;
}

.creditsgithub {
  text-decoration: none;
  color: black;
}

.codercredits {
  color: #5791a8;
  font-weight: 500;
}

.coderrow {
  margin-bottom: 3px;
}
