.favesection {
  font-size: 20px;
}

.favehearticon {
  color: #989393;
}

.fave1icon {
  display: inline;
  width: 35px;
}

.fave1cityname {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.faveheader {
  font-size: 20px;
}
