.faveheader {
  font-size: 22px;
}

.favehearticon {
  color: #989393;
}

.favecityblock {
  padding: 4px;
}

.favecity {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.favetemp {
  padding: 0px 2px 0px 5px;
}
