.todayblock {
  text-align: center;
  margin-top: 15px;
}
.countrydisplay {
  font-size: 68px;
  font-weight: 600;
}

.todaydatemain {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

#geolocationbutton {
  background: #cccaca;
  border: none;
}

#searchcountrybutton {
  background: #aed1ded4;
  border: none;
}

.todaytemp {
  font-size: 125px;
}

.tempformat {
  color: grey;
  text-decoration: none;
}

.tempformat:hover {
  text-decoration: none;
}

.units .active {
  color: black;
  cursor: default;
  font-weight: 600;
}

.units .active:hover {
  text-decoration: none;
}
