.todayblock {
  text-align: center;
  margin-top: 15px;
}
.countrydisplay {
  font-size: 68px;
}

.todaydatemain {
  font-size: 28px;
  margin-bottom: 15px;
}

#geolocationbutton {
  background: #cccaca;
  border: none;
}

#searchcountrybutton {
  background: #aed1ded4;
  border: none;
}

.todaytemp {
  font-size: 125px;
  font-weight: 100;
}

.tempformat {
  color: grey;
  text-decoration: none;
  font-weight: 100;
}

.tempformat:hover {
  text-decoration: none;
}

.units .active {
  color: black;
  cursor: default;
  font-weight: 300;
}

.units .active:hover {
  text-decoration: none;
}

.units {
  font-size: 24px;
}
