.weatherinfo {
  list-style: none;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}

.todaystats {
  font-style: italic;
  font-size: 12px;
}

.humidityvalue {
  margin-left: 3px;
}

.rainfallvalue {
  margin-left: 3px;
}
