.WeatherApp {
  max-width: 600px;
  background: linear-gradient(rgb(189 209 245 / 28%), #ffdcdf26);
  border: solid 1px #f2f2f1;
  border-radius: 25px;
  padding: 25px;
  margin: 10px auto;
  box-shadow: 2px 2px 9px #e6e6e6;
}

body {
  font-family: "Lato", sans-serif;
}

.countrydisplay,
.todaydatemain,
.units {
  font-weight: 300;
}
